<div class="container">
    <h2>Universities Available in our Country</h2>
    <p>This list represent the following Universities </p>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th>University ID</th>
            <th>University Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="x in universities">
            <td>{{x.University_ID}}</td>
            <td>{{x.University_Name}}</td>
            <td>
                <button class="btn btn-light" data-ng-click="edit(x.University_ID)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteUniversity(x.University_ID)">&times</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>

