<header data-ng-include="'AngularApp/Templates/globalHeader.html'"></header>
<div class="container">
    <h2 style="text-align: center"> Universities Available in our Country</h2>
    <p style="text-align: center">This list represent the following Universities </p>
    <br>
    <i id="add" class="fas fa-plus-square" data-ng-click="getForm()"></i>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th>University ID</th>
            <th>University Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="x in universities">
            <td>{{x.University_ID}}</td>
            <td>{{x.University_Name}}</td>
            <td class="text-center">
                <i class="fas fa-pencil-alt" id="edit" data-ng-click="edit(x.University_ID)" ></i>
                <i class="fas fa-trash-alt"  id="delete" data-ng-click="deleteUniversity(x.University_ID)"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

